.main {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: whitesmoke;
border: 1px solid #555555;
height: 30px;
margin: 5px;
font-size: 15px;
}

.select {
  background-color: #555555;
  color: whitesmoke;
}


.image {
  height: 150px;
  margin: 5px;
}